<div class="row">
    <div class="col-md-9">

        <form class="col-md-12" style="border: 1px solid #aaa; box-shadow: 1px 1px 50px 0 rgba(0,0,0,.29);" [formGroup]="formAddUser">
            <div class="form-group">
                <label>UserName
                    <span class="require"> (*)</span>
                </label>
                <input type="text" formControlName="username" class="form-control" placeholder="UserName" >

            </div>
            <div>
                <div class="form-group">
                    <label>Email
                        <span class="require"> (*)</span>
                    </label>
                    <input type="text" formControlName="email" class="form-control" placeholder="Email">

                </div>
                <div class="form-group">
                    <label>Số Điện Thoại
                        <span class="require"> (*)</span>
                    </label>
                    <input type="number" formControlName="phone" class="form-control" placeholder="">

                </div>

                <div class="form-group">
                    <label>Địa Chỉ
                        <span class="require"> (*)</span>
                    </label>
                    <input type="text" formControlName="address" class="form-control" placeholder="21/dsddd">
                </div>

            </div>
        </form>

    </div>
    <div class="col-md-3">
        <div>Avatar</div>
        <img class="avatar" src="http://localhost:8088/avatar/{{this.user.avatar}}" alt="">
    </div>
</div>
<div class="button">
    <div class="col-md-4">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#updateModal">Cập Nhập</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#changePassword">Đổi Mật Khẩu</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#changeAvatar">Cập Nhập Avatar</button>
    </div>
</div>

<!-- update -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-backdrop="false">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bạn có muốn cập nhập lại thông tin?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateUser()">Lưu Thay Đổi</button>
            </div>
        </div>
    </div>
</div>
<!-- doi mat khau -->
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-backdrop="false">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
                <form class="col-md-12" style="border: 1px solid #aaa; box-shadow: 1px 1px 50px 0 rgba(0,0,0,.29);" [formGroup]="formPassword">
                    <div class="form-group">
                        <label>Mật khẩu cũ
                            <span class="require"> (*)</span>
                        </label>
                        <input type="password" formControlName="password_old" class="form-control" placeholder="mật khẩu cũ" id="myInput">

                    </div>
                    <div>
                        <div class="form-group">
                            <label>Mật Khẩu mới
                                <span class="require"> (*)</span>
                            </label>
                            <input type="password" formControlName="new_password" class="form-control" placeholder="mật khẩu mới">

                        </div>
                        <div class="form-group">
                            <label>Nhập lại mật khẩu
                                <span class="require"> (*)</span>
                            </label>
                            <input type="password" formControlName="retype_new_password" class="form-control" placeholder="Nhập lại mật khẩu">

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="changePassword()">Lưu Thay Đổi</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Delete -->
<div class="modal fade" id="changeAvatar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Đổi avatar</h4>
                <div>
                    <input type="file" name="file" (change)="selectImage($event)">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="changeAvatar()"> Lưu Thay Đổi</button>
            </div>
        </div>
    </div>
</div>