<div class="sidebar">
    <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
            <li>
                <a href="javascript:void(0);">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="sub-menu">
                <a [routerLink]="['/admin']" href="javascript:void(0);">
                    <i class="fa fa-user"></i>
                    <span>Quản lý tài khoản</span>
                </a>
            </li>
            <li class="sub-menu">
                <a [routerLink]="['baidang']" href="javascript:void(0);" >
                    <i class="fa fa-table"></i>
                    <span>Bài Đăng</span>
                </a>
                <ul>
                </ul>
            </li>
            <li class="sub-menu">
                    <a [routerLink]="['lichsu']" href="javascript:void(0);" >
                        <i class="fa fa-table"></i>
                        <span>Lịch sử</span>
                    </a>
                    <ul>
                    </ul>
                </li>
            <li class="sub-menu">
                <a [routerLink]="['contact']" href="javascript:void(0);" >
                    <i class="fa fa-table"></i>
                    <span>Liên hệ</span>
                </a>
                <ul>
                </ul>
            </li>
           
        </ul>
    </div>
</div>