<!-- VUNG DANG NHAP -->
<app-headerclient></app-headerclient>

<!-- VUNNG LOGO -->
<div id="logo">
    <div class="container">
        <img class="logo_tet" src="http://pherbs.com.vn/template/default/images/logo.png" alt="">
        <img class="logo_quangcao" src="../../../assets/image/logo.gif" alt="">
    </div>
</div>

<!-- VÙNG MENU -->
<app-menuclient></app-menuclient>

<router-outlet></router-outlet>

<app-footerclient></app-footerclient>
