<div class="container" *ngIf="getRoom">
    <div class="detail">
        <p>Trang chủ / Cho thuê căn hộ / Cho thuê căn hộ Hồ Chí Minh / Cho thuê căn hộ Quận Tân Phú</p>
    </div>
    <div class="hot">
        <img src="https://phongtro123.com/wp-content/themes/phongtro123/images/hot.gif" alt=""> {{getRoom.title}}
    </div>
    <div class="tab">
        <ul>
            <li>
                <a> Thông tin chung</a>
            </li>
            <li>
                <a href="#description">Mô tả chi tiết</a>
            </li>
            <li>
                <a>bản đồ</a>
            </li>
            <li>
                <a>Hình ảnh</a>
            </li>
        </ul>
        <div class="clr"></div>
    </div>
    <!-- <button type="button" (click)="Transection()" class="btn btn-success">Giao Dịch</button> -->
    <button type="button" (click)="directAddress()" class="btn btn-success">Xem Đường</button>
    <div class="row">
        <div class="col-md-8">
            <div class="table">
                <table>
                    <tr>
                        <th>Đia chỉ</th>
                        <td colspan="3">{{getRoom.address}}</td>
                    </tr>
                    <tr>
                        <th>Loại tin rao:</th>
                        <td>Cho thuê căn hộ</td>
                        <th>Đối tượng</th>
                        <td>{{getRoom.sex}}</td>
                    </tr>
                    <tr>
                        <th>Người đăng:</th>
                        <td>{{getRoom.id_user.username}}</td>
                        <th>Điện thoại</th>
                        <td>{{getRoom.phone}}</td>
                    </tr>
                    <tr>
                        <th>Ngày cập nhật:</th>
                        <td>{{getRoom.createDate|date: 'dd/MM/yyyy'}}</td>
                        <th>Diện tích:</th>
                        <td>35m2</td>
                    </tr>
                    <tr>
                        <th>Giá cho thuê:</th>
                        <td>{{getRoom.price}} {{getRoom.unit}}</td>
                        <th>Khoảng cách:</th>
                        <td>{{lengh|number : '1.2-2'}} km</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div id="description">
                <h4>Thông tin mô tả</h4>
                <div [innerHTML]=getRoom.description></div>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="title">
                hình ảnh
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>


    <div class="row">
        <div class="col-md-8">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="../../../assets/image/tro.jpg" alt="Chicago" style="width:100%;">
                    </div>
                    <div class="item" *ngFor="let item of getRoom.image">
                        <img src="{{item}}" alt="Los Angeles" style="width:100%;">
                    </div>


                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="title">
                bản đồ
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="title">
                <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
                    <agm-marker [latitude]="latitudeUser" [longitude]="longitudeUser"></agm-marker>
                </agm-map>
            </div>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
